{% extends 'base.html' %}
{% load static %}
{% block title %}
CV - Serhii Nazarenko
{% endblock %}
{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/resume.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block content %}
    <main>
        <div class="container">
            <div class="left_side">
                <div class="profileText">
                    <div class="imgBox">
                        <img src="https://media.licdn.com/dms/image/D4E03AQFbZmiALBAy-Q/profile-displayphoto-shrink_800_800/0/1666924868629?e=1714608000&v=beta&t=WzE1rk8hBtRgFbBD8RNzAeCsEGCRjl9-JGVG9FdOKBM">
                    </div>
                    <h2>Nazarenko Serhii<br><span>Python Developer</span></h2>
                </div>
                <div class="contactInfo">
                    <h3 class="title">Contact Info</h3>
                    <ul>
                        <li>
                            <span class="icon"><i class="fa-solid fa-phone"></i></span>
                            <span class="text">+380935931771</span>
                            <p>
                            <span>WhatsApp, Viber, Telegram</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                            <span class="text">sergiobamper@gmail.com</span>
                        </li>
                        <noscript><li>
                            <span class="icon"><i class="fa-solid fa-globe"></i></span>
                            <span class="text">www.qblog.com</span>
                        </li></noscript>
                        <li>
                            <span class="icon"><i class="fa-brands fa-linkedin"></i></span>
                            <span class="text">www.linkedin.com/in/serhii-nazarenko-dev/</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
                            <span class="text">Kyiv, Ukraine</span>
                        </li>
                    </ul>
                </div>
                <div class="contactInfo education">
                    <h3 class="title">Education</h3>
                    <ul>
                        <li>
                            <h5>2014 - 2019</h5>
                            <h4>Bachelor Degree in Marketing</h4>
                            <h4>KYIV NATIONAL UNIVERSITY OF TRADE AND ECONOMICS</h4>
                        </li>
                    </ul>
                </div>
                <div class="contactInfo languages">
                    <h3 class="title">Languages</h3>
                    <ul>
                        <li>
                            <span class="text">English - Advanced</span>
                        </li>
                        <li>
                            <span class="text">Ukrainian - Native</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="right_side">
                <div class="about">
                    <h2 class="title2">Profile</h2>
                    <p>I am a self-motivated self-taught Python developer currently focusing on improving my web development and Django skills. In my free time, I study the documentation of this framework. I also ride an electric unicycle, riding it helps me gain energy for learning and growth. I usually use two devices for work - a desktop PC and a Macbook, I am not a fan of the second. I consider myself more of an advanced Windows user. I don't smoke, rarely drink coffee.</p>
                </div>
                <div class="about">
                    <h2 class="title2">Experience</h2>

                    <div class="box">
                        <div class="year_company">
                            <h5>2017 - 2019</h5>
                            <h5>Freelancer</h5>
                        </div>
                        <div class="text">
                            <h4>Solving student projects while studying</h4>
                            <p>Web pages, programming basics</p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="year_company">
                            <h5>2019 - 2021</h5>
                            <h5>Freelancer</h5>
                        </div>
                        <div class="text">
                            <h4>Started practicing at all</h4>
                            <p>Echo/event bots for telegram, discord ect... Monitoring, web-scrapping, automation scripts.</p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="year_company">
                            <h5>2021 - 2022</h5>
                            <h5>IXIOO</h5>
                        </div>
                        <div class="text">
                            <h4>Python Junior Software Developer</h4>
                            <p>Machine learning(basic). Django, Full Stack.</p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="year_company">
                            <h5>2023(September)</h5>
                            <h5>Nuevacode</h5>
                        </div>
                        <div class="text">
                            <h4>Python Back-end Developer</h4>
                            <p>LLM, Langchain, FastApi, Docker</p>
                        </div>
                    </div>
                </div>
                <div class="about">
                    <h2 class="title2">Skills</h2>
                    <p>Python, Git, PostgreSQL, SQLAlchemy, MySQL, SQL, HTML, CSS, Web scrapping, Pandas, OOP, Trello, Django, LLM, LangChain, Docker, OpenCV, Linux</p>
                </div>
                <div class="about interest">
                    <h2 class="title2">Interest</h2>
                    <ul>
                        <li><i class="fa-solid fa-gamepad"></i> Gaming</li>
                        <li><i class="fa-solid fa-video"></i> Streaming</li>
                        <li><i class="fa-solid fa-book"></i>Reading</li>
                        <li><i class="fa-solid fa-bolt"></i>Soldering</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock %}